<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="group_list" content='{{ group_list_json|safe }}'>
    <meta name="user-id" content="{{ current_user.account_id }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/GroupPage.css') }}">
    <script src="{{ url_for('static', filename='js/admin/GroupPage.js') }}"></script>
    <title>Группа</title>
</head>
<body>
    <div class="container">
        <header class="header">
                
            <h1 class="header-title">Группа</h1>
            <div class="header-icons">
                <select id="GroupTag" class="header-select" name="group">
                    {% for group in list_of_groups %}
                    <option value="{{group.group_id}}">{{ group.group_name }}</option>
                    {%endfor%}                      
                </select>
            
            </div>
        </header>

        <div class="poll-tabs">
            <div class="poll-tab active" data-tab="load">Список </div>
            <div class="poll-tab" data-tab="info">Информация</div>
        </div>

        <section class="section info-section">
            <form action = "{{ url_for('admin.admin_main_group', user_id=current_user.account_id) }}", method="POST" id ='form2'>
            <div class="profile-details">
                <div class="profile-detail">
                    <div class="detail-label">Группа</div>
                    <div class="detail-value">{{ group_info.group_name }}</div>
                </div>
                <div class="profile-detail">
                    <div class="detail-label">Код группы</div>
                    <div class="detail-value">{{ group_info.code }}</div>
                </div>
                <div class="profile-detail">
                    <div class="detail-label">Куратор</div>
                    <div class="detail-value">
                        <span id="curatorName">{{ group_info.courator if group_info.courator else '' }}</span>
                        <input type="text" id="curatorNameEdit" class="edit-input" style="display:none;" value="{{group_info.courator}}">
                    </div>
                </div>
                <div class="profile-detail">
                    <div class="detail-label">Староста</div>
                    <div class="detail-value">
                        <span id="headmanName">{{ group_info.headman if group_info.headman else '' }}</span>
                        <input type="text" id="headmanNameEdit" class="edit-input" style="display:none;" value="{{group_info.headman}}">
                    </div>
                </div>
                <div class="profile-detail">
                    <div class="detail-label">Количество студентов </div>
                    <div class="detail-value">{{ students_count }}</div>
                </div>
            </div>
            <div class="edit-button-container">
                <button id="editInfoButton" class="custom-button edit-button" >
                    <i class="material-icons" style="font-size: 16px;" type="button">edit</i> Редактировать
                </button>
                <div class="edit-controls" style="display:none;">
                    <button id="saveInfoButton" type = 'submit' class="custom-button save-button" type="submit">Сохранить</button>
                    <button id="cancelEditButton" class="custom-button cancel-button" type="button">Отмена</button>
                </div>
            </div>
            </form>
        </section>

        <section class="section load-section">
            <div class="button-container">
                <button class="custom-button">
                    Выгрузить
                </button>
            </div>
            <table id="studentsTable">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>ФИО</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </section>

        <br><br><br><br>
        <nav>
            <a href="{{ url_for('admin.admin_main_posts', user_id=current_user.account_id) }}" class="nav-item ">
                <i class="material-icons">announcement</i>
                <span>Объявление</span>
            </a>
            <a href="{{ url_for('admin.admin_main_events', user_id=current_user.account_id) }}" class="nav-item">
                <i class="material-icons">event</i>
                <span>События</span>
            </a>
            <a href="{{ url_for('admin.admin_main_view', user_id=current_user.account_id) }}"  class="nav-item">
                <i class="material-icons">home</i>
                <span>Главная</span>
            </a>
            <a href="{{ url_for('admin.admin_main_votes', user_id=current_user.account_id) }}" class="nav-item">
                <i class="material-icons">poll</i>
                <span>Опросы</span>
            </a>
            <a href="" class="nav-item active">
                <i class="material-icons">group</i>
                <span>Группа</span>
            </a>
        </nav>
    </div>
    

</body>
</html>